
.button {
  box-sizing: border-box;
  margin-top: 1rem;
  padding: 0.5rem 0;
  width: 100%;
  font-size: 1.3rem;
  color: rgb(36, 47, 54);
  border: none;
  box-shadow: 1px 2px 3px rgb(156, 161, 164);
  background: linear-gradient(rgb(152, 159, 166), rgb(223, 239, 255), rgb(81, 91, 101));
}

.button:hover {
  box-shadow: 1px 2px 3px rgb(181, 214, 234);
  background: linear-gradient(rgb(141, 198, 255), rgb(199, 226, 252), rgb(81, 114, 148));
}

.button:focus-visible {
  outline: 0.1rem solid rgb(79, 117, 150);
  outline-color: rgb(144, 203, 255);
  box-shadow: 1px 6px 6px rgb(89, 153, 193);
}

.button:active {
  background: linear-gradient(100deg, rgb(55, 77, 99), rgb(189, 222, 255), rgb(105, 167, 230));
}

@media (max-width: 700px) {
  .button {
    padding: 0.2rem 0;
    font-size: 1rem;
  }
}


