.header {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  user-select: none;
  font-size: 2rem;
  color: rgb(35, 40, 45);
  padding: 0.5rem 0;
  margin: 0;
  text-align: center;
  background-color: rgb(177, 192, 206);
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border: 2px rgb(140, 148, 156) solid;
}

@media (max-width: 600px) {
  .header {
    font-size: 1.5rem;
  }
}
